const char* ssid     = "SSID";     // The SSID (name) of the Wi-Fi network you want to connect to
const char* password = "PASSWORD"; // The password of the Wi-Fi network
const char* hostname = "shedtemp"; // The mdns hostname, gets .local appended to it
